---
import Layout from "../components/Layout.astro";
---

<Layout
  tags={{
    title: "Not found | larocque.dev",
    description: "404 page for larocque.dev",
  }}
>
  <main>
    <section class="justify-center gap-7 lg:flex">
      <div>
        <h1>Whoops...</h1>
        <p>
          The route you're looking for doesn't exist! Sorry about about that.
        </p>
        <a href="/" class="font-medium text-blue-300 hover:underline">Home</a>
      </div>
    </section>
  </main>
</Layout>
