---
import Layout from "../components/Layout.astro";
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
import GitHubContributions from "../components/GitHubContributions.astro";
import GitHubGists from "../components/GitHubGists.astro";
---

<Layout
  tags={{
    title: "About | Chris LaRocque",
    description:
      "Chris LaRocque is a web developer from Boston, MA. He specializes in tactical agile development aimed at delivering user-centric software at scale and at speed.",
    ogInfo: {
      title: "About",
      subtitle: "About me, Chris LaRocque, and how to get in touch.",
    },
  }}
>
  <main>
    <section class="justify-between gap-7 lg:flex">
      <div
        class="text-wrapper content flex items-center justify-center lg:max-w-[50%]"
      >
        <div class="text py-7 lg:px-0">
          <h1 class="">About me</h1>

          <p class="lg:max-w-[70ch]">
            I'm a full-stack web developer building responsive, user-first
            websites. I started working in tech at Spartan Race, followed by
            Brightcove. From there I made my way to Gatsby as a Senior Solutions
            Engineer, and then eventually to Netlify via aquisition. Currently I
            work at <a href="https://sanity.io/">Sanity.io</a> with an awesome team
            of talented folks, helping build a product I love!
            <br /><br />
            I consider myself fortunate to be able to hear how so many different
            teams solve the problems presented by the modern web, and take the best
            of what I see onward to each project I work on. Outside of slinging the
            future of web tech I am usually (honestly) checking out whats new in
            web tooling, watching old NFL Films docs, and chilling with my partner
            Becca and our insufferable bulldog, Alby.
          </p>
          <div class="flex justify-end px-9">
            <div
              class="my-7 flex min-w-[20%] max-w-[50%] justify-between gap-7 lg:max-w-[20%]"
            >
              <a
                href="https://twitter.com/TophLaRoph"
                aria-label="My Twitter/X profile"
              >
                <Icon icon="x" />
              </a>
              <a
                href="https://github.com/ChrisLaRocque"
                aria-label="My GitHub profile"
              >
                <Icon icon="github" />
              </a>
              <a
                href="https://www.linkedin.com/in/larocquechristopher/"
                aria-label="My LinkedIn profile"
              >
                <Icon icon="linkedin" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center lg:max-w-[50%]">
        <Image
          src={headshot}
          alt="Chris LaRocque headshot"
          class="rounded-xl w-full"
          loading={"eager"}
          width={600}
          height={267}
        />
      </div>
    </section>
    <section>
      <h2>
        <a
          href="https://github.com/ChrisLaRocque"
          class="text-blue-300 hover:underline">ChrisLaRocque</a
        > on GitHub
      </h2>
      <GitHubContributions />
      <GitHubGists />
    </section>
  </main>
</Layout>
