---
import Layout from "../components/Layout.astro";
import HexTailwind from "../components/HexTailwind.astro";
import ColorSwatches from "../components/ColorSwatches.astro";
---

<Layout
  tags={{
    title: "Hex to Tailwind | larocque.dev",
    description: "A tool to convert hex codes to the nearest Tailwind class",
    ogInfo: {
      title: "Hex to Tailwind class",
      subtitle: "Get the nearest Tailwind color class to a given hex code",
    },
  }}
>
  <main>
    <section class="">
      <h1 class="mb-2 text-4xl font-extrabold">Hex to Tailwind class</h1>
      <p class="mb-5">Click any swatch to copy class name</p>
      <HexTailwind />
      <ColorSwatches />
    </section>
  </main>
</Layout>
