---
import Layout from "../components/Layout.astro";
import HexTailwind from "../components/HexTailwind.astro";
import ColorSwatches from "../components/ColorSwatches.astro";
---

<Layout
  tags={{
    title: "Tailwind color picker | larocque.dev",
    description:
      "A color picker with different color code format inputs that converts the given color to the nearest Tailwind class",
    ogInfo: {
      title: "Tailwind color picker",
      subtitle: "Get the nearest Tailwind color class to a given color code",
    },
  }}
>
  <main>
    <section class="">
      <h1 class="mb-2 text-4xl font-extrabold">Tailwind color picker</h1>
      <p class="mb-5">Click any swatch to copy class name</p>
      <HexTailwind />
      <ColorSwatches />
    </section>
  </main>
</Layout>
