---
import Icon from "./Icon.astro";
---

<footer class="mx-auto max-w-7xl">
  <hr />
  <div class="flex justify-end p-5 py-7">
    <div class="flex items-center justify-between gap-5">
      <a href="https://twitter.com/TophLaRoph">
        <Icon icon="x" />
      </a>
      <a href="https://github.com/ChrisLaRocque">
        <Icon icon="github" />
      </a>
      <a href="https://www.linkedin.com/in/larocquechristopher/">
        <Icon icon="linkedin" />
      </a>
    </div>
  </div>
</footer>
