---
import Icon from './Icon.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<footer class="mx-auto max-w-7xl">
  <hr class="border-zinc-300 dark:border-zinc-600" />
  <div class="flex items-center justify-between p-5 py-7">
    <div class="flex items-center gap-5">
      <a
        href="https://twitter.com/TophLaRoph"
        aria-label="My Twitter/X profile"
      >
        <Icon icon="x" />
      </a>
      <a href="https://github.com/ChrisLaRocque" aria-label="My GitHub profile">
        <Icon icon="github" />
      </a>
      <a
        href="https://www.linkedin.com/in/larocquechristopher/"
        aria-label="My LinkedIn profile"
      >
        <Icon icon="linkedin" />
      </a>
    </div>
    <ThemeToggle />
  </div>
</footer>
