<section>
  <h3>My GitHub Gists</h3>
  <div class="grid grid-cols-1 gap-2 lg:grid-cols-3" id="gists"></div>
</section>
<script>
  import { Octokit } from "octokit";

  const octokit = new Octokit({
    auth: import.meta.env.PUBLIC_GITHUB_TOKEN,
  });
  async function getGists() {
    return await octokit
      .request("GET /users/ChrisLaRocque/gists", {
        headers: {
          "X-GitHub-Api-Version": "2022-11-28",
        },
      })
      .catch((e) => {
        const oops = document.createElement("p");
        oops.innerText = "Oops, couldn't fetch gists from GitHub";
        gistsDiv?.appendChild(oops);
      });
  }
  const gistsDiv = document.getElementById("gists");
  const gistsData = await getGists();

  const { data } = gistsData;
  for (let i = 0; i < data.length; i++) {
    const { id, description, updated_at, html_url, files } = data[i];
    const fileNames = Object.keys(files);
    // const languages = (fileNames) => {
    //   const usedLangs: string[] = [];
    //   const extensionMap = (extension) => {
    //     switch (extension) {
    //       case "ts":
    //       case "tsx":
    //         return "typescript";
    //       case "js":
    //       case "jsx":
    //         return "javascript";
    //       default:
    //         return null;
    //     }
    //   };
    //   fileNames.forEach((fileName) => {
    //     const extension = fileName.split(".")[fileName.split(".").length - 1];
    //     if (
    //       extensionMap(extension) &&
    //       !usedLangs.includes(extensionMap(extension))
    //     ) {
    //       usedLangs.push(extensionMap(extension));
    //     }
    //   });
    //   return fileNames;
    // };
    // languages(fileNames);
    // Create card div
    const gistCard = document.createElement("a");
    gistCard.setAttribute("id", id);
    gistCard.setAttribute("href", html_url);
    gistCard.setAttribute(
      "class",
      "p-4 border-2 border-white rounded flex flex-col justify-between"
    );

    // Create + append file name
    const heading = document.createElement("h4");
    heading.setAttribute(
      "class",
      "text-md font-bold tracking-tight text-slate-400"
    );
    heading.innerText = fileNames[0];
    gistCard.appendChild(heading);

    // Create + append description text
    const text = document.createElement("p");
    text.setAttribute("class", "text-sm");
    text.innerText = description;
    gistCard.appendChild(text);
    // Create + append update at text
    const updatedAt = document.createElement("small");
    updatedAt.setAttribute("class", "text-slate-400");
    updatedAt.innerText = new Date(updated_at).toLocaleDateString(undefined, {
      day: "numeric",
      month: "short",
      year: "numeric",
    });
    gistCard.appendChild(updatedAt);
    // Add card div to parent
    gistsDiv?.appendChild(gistCard);
  }
</script>
