---
import Dialog from "./Dialog.astro";
const links = [
	{ text: "Projects", href: "/projects" },
	{ text: "Tech", href: "/tech" },
	{ text: "About + Contact", href: "/about" },
	{ text: "search", href: "/search" },
];
---

<nav class="flex w-full max-w-7xl justify-between mx-auto py-7">
	<a href="/">
		<strong class="text-xl tracking-tight">Chris LaRocque</strong>
	</a>
	<ul class="lg:flex justify-between text-right lg:text-left">
		{
			links.map((link) => {
				const isSearch = link.text === "search";
				return (
					<li class="lg:ml-4 tracking-tight p-5 lg:p-0">
						{isSearch ? (
							<button id={"search-button"} aria-label="search">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="w-6 h-6"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
									/>
								</svg>
							</button>
						) : (
							<a href={link.href}>{link.text}</a>
						)}
					</li>
				);
			})
		}
	</ul>
	<Dialog />
</nav>
<script>
	// Determine if cmd + K are being pushed at the same time to show search modal
	const keys = { Meta: { pressed: false }, k: { pressed: false } };
	const searchButton = document.getElementById("search-button");
	const dialog = document.getElementById("search-modal") as HTMLDialogElement;
	searchButton.addEventListener("click", () => {
		dialog.showModal();
	});
	document.addEventListener("keydown", (e) => {
		const { key } = e;
		if (keys.hasOwnProperty(key)) {
			keys[key].pressed = true;
		}
		if (keys.Meta.pressed && keys.k.pressed && !dialog.open) {
			dialog.showModal();
		}
	});
	document.addEventListener("keyup", (e) => {
		const { key } = e;
		if (keys.hasOwnProperty(key)) {
			keys[key].pressed = false;
		}
	});
</script>
