---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";
export async function getStaticPaths() {
	const allProjects = await getCollection("projects");
	return allProjects.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { title, description } = entry.data;
console.log(headings);
---

<Layout tags={{ title, description }}>
	<main>
		<section class="lg:flex">
			<div class="content lg:max-w-[75%]">
				<h1 class="font-extrabold text-4xl">{title}</h1>
				<p>{description}</p>
				<Content />
			</div>
			<div class="table-of-contents">
				<strong class="tracking-tight">Table of contents</strong>
				<ul>
					<li><a>yhes</a></li>
				</ul>
			</div>
		</section>
	</main>
</Layout>
